.cargo-media_input { display: block; }
.cargo-media_input-button { opacity:0; }
.cargo-media_input-preview { display: inline-block; }
.cargo-media_input-media:hover .cargo-media_input-button { opacity:1; }
.cargo-media_input > span { display:noone; }
.cargo-media_input .active { display:block; }
.cargo-media_input-change { margin: auto; }
.cargo-media_input-remove { position:absolute; bottom:5px; left:5px; right:0px; margin: auto; }
.cargo-media_input-modal {}
.cargo-media_input-or { display: block; text-align:center; margin:10px 25px; }
.cargo-media_input-add-image {  }
.cargo-media_input-add-embed { min-height: 40px;  }
.cargo-media_input-media button.cargo-media_input-clear { position: absolute; right:5px; top:5px; z-index:1; }

.cargo-media_input-media {
    position: relative;
    text-align: center;
    display: block;
}

.cargo-media_input {
    position: relative;
    min-height:150px;
}

.cargo-media_input .cargo-media_input-preview {
    display: none;
}
.cargo-media_input.active .cargo-media_input-preview {
    display: block;
}
.cargo-media_input.empty .cargo-media_input-preview {
    opacity: 0.5;
}

.cargo-media_input .btn-wrapper {
    position: absolute;
    min-height: 300px;
    display: block;
    -ms-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
    width: 80%;
    height: 35%;
}


.cargo-media_input.image .btn-wrapper {

}